.choose {
  margin-bottom: 90px;
  color: #fff;

  .container {
    background: {
      image: url('./../images/header__bg.png');
      size: cover;
      repeat: no-repeat;
      position: 100% 35%;
    }
  }

  &__title {
    margin-bottom: 37px;
    padding: 59px 0px 0px 102px;
    font: {
      size: 33px;
      weight: 45px;
    }
    line-height: 45px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0px 124px 0px 102px;
  }

  &__about {}

  &__btn {}

  &__way {}
}

.btn {
  box-sizing: padding-box;
  margin-bottom: 17px;
  padding: 24px 32px 18px;
  border: 2px solid #BA62FF;
  border-radius: 22px;
  background-color: #fff;
  color: #000;
  cursor: pointer;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 230px;
  }

  &__name {
    font: {
      weight: 600;
      size: 22px;
    }
  }

  &:last-child {
    margin-bottom: 55px;
  }

  &:hover {
    background: linear-gradient(87.58deg, #BA62FF 0%, #750FC5 100%);
    color: #fff;

    .arrow {
      &_white {
        display: block;
      }

      &_black {
        display: none;
      }
    }
  }
}

.arrow {

  &_white {
    display: none;
  }
}

.way {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -140px;

  &__title {
    font: {
      size: 36px;
      weight: 700;
    }
    line-height: 49px;
  }

  &__company {
    font: {
      family: 'Skranji', cursive;
      size: 40px;
    }
    line-height: 54px;
  }

  &__number {}

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &__deal {
    margin-right: 32px;
    font: {
      size: 27px;
      weight: 700;
    }
    line-height: 37px;
  }

  .arrow_white {
    display: block;
  }
}