@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style-type: none;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100%;

    .container {
        max-width: 100%;
        width: 1170px;
        margin: 0px auto;
        padding: 0px 15px;
    }

    .content {
        flex: 1 0 auto;
    }

    .footer {
        flex: 0 0 auto;
    }
}

@import 'header';
@import 'choose';
@import 'about';
@import 'footer';